<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Define Global Variables -->
	<variable name="logDirectory" value="C:\Logs\IT_Institute_Course_Management_System" />
	<variable name="logFileName" value="application" />
	<variable name="connectionString" value="Server=(localdb)\\mssqllocaldb;Database=itInstituteDB;Trusted_Connection=true;TrustServerCertificate=true" />

	<targets async="true">

		<!-- Console Logger (For Debugging) -->
		<target xsi:type="Console" name="console" layout="${longdate} [${uppercase:${level}}] ${message} ${exception:format=ToString}" />

		<!-- File Logger (Daily Log Rotation) -->
		<target xsi:type="File" name="fileLog"
				fileName="${logDirectory}/${shortdate}.log"
				archiveFileName="${logDirectory}/archive/{#}.log"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				maxArchiveFiles="7"
				layout="${longdate} | ${level} | ${logger} | ${message} ${exception:format=ToString}" />

		<!-- Database Logger (SQL Server Example) -->

		<!-- Database Logging Target -->
		<!--<targets>
			<target xsi:type="Database" name="databaseLog" connectionString="${connectionString}">
				<commandText>
					INSERT INTO LogTable (LogDate, Level, Logger, Message, Exception)
					VALUES (@logDate, @level, @logger, @message, @exception)
				</commandText>
				<parameter name="@logDate" layout="${longdate}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@logger" layout="${logger}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@exception" layout="${exception:format=ToString}" />
			</target>
		</targets>-->

		<!-- Email Alerts (For Critical Errors) -->
		<!--<target xsi:type="Mail" name="email"
				smtpServer="smtp.gmail.com"
				smtpPort="587"
				smtpUserName="info.way.mmakers@gmail.com"
				smtpPassword="your-app-password-here"
				from="info.way.mmakers@gmail.com"
				to="abirajjr2002@gmail.com"
				subject="Critical Error in IT Institute Course Management System"
				body="${longdate} | ${level} | ${logger} | ${message} ${exception:format=ToString}"
				enableSsl="false"
				useStartTls="true" />-->

	</targets>

	<rules>
		<!-- Debug and above goes to console -->
		<logger name="*" minlevel="Debug" writeTo="console" />

		<!-- Info and above goes to file -->
		<logger name="*" minlevel="Info" writeTo="fileLog" />

		<!-- Warnings and above go to the database -->
		<logger name="*" minlevel="Warn" writeTo="fileLog" />

		<!-- Errors and Fatal go to email -->
		<logger name="*" minlevel="Error" writeTo="fileLog" />
	</rules>

</nlog>
